/**
    Fonte Open Sans do google
    font-family: 'Open Sans', sans-serif;

 */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;

}

.enviar {
    background-color: #e1cdaa;
    color: white;
    font-style: italic;
    border: hidden;
    width: 10em;
}

.enviar:hover {
    background-color: #232930;
    color: white;
}

.footer {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.background-image1 {
    background-image: url(../images/background1.jpg);
    width: 100%;
    height: 1380px;
    color: white;
}

.background-image2 {
    background-image: url(../images/background2.jpg);
    width: 100%;
    height: 1150px;
    padding: 15%;
}

.nav {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.menu {
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
    overflow: hidden;
}

.item_menu {
    float: right;
    margin: 0px;
}

.item_menu:nth-child(even) {
    border-right: 2px solid #bbb;
    border-left: 2px solid #bbb;

}

.item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: italic;
}

.item:hover {
    color: #E1CDAA;
}

.sobrejoao {
    padding: 25% 0;
}

#titulo1 {
    font-size: 3em;
}

#joaosobre {
    font-style: italic;
}

.portfolio {
    border: solid black 1px;
    padding: 5px;
    margin: 10px;
}

.fonteportfolio{
    color: black;
    margin: 0 0 5% 0;

}

.fonteportfolio > p{
    font-style: italic;
    font-weight: 500;
}

.portfolio_pai{
    padding: 5%;
}

.secsobre{
    margin: 6em;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    -webkit-border-radius:  100%;
    -moz-border-radius:  100%;
    border-radius:  100%;
    padding: 30px;
}

.fontesobre{
    color: white;
}

.fontesobre > p{
    font-style: italic;
}

