/**
Fonte Open Sans do google
    font-family: 'Open Sans', sans-serif;
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;

}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.font-light {
    font-weight: 300;
}

.font-heavy {
    font-weight: 700;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.col-6,
.col-12 {
    width: 96%;
}

@media only screen and (min-width: 33.75em) {

    .container {
        width: 80%;
    }
}

@media only screen and (min-width: 45em) {

    .col-6 {
        width: 46%;
    }

    .col-12 {
        width: 96%;
    }
}

@media only screen and (min-width: 60em) {

    .container {
        width: 75%;
        max-width: 60rem;
    }
}

.nav {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
}

.menu {
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
    overflow: hidden;
}

.item_menu {
    float: right;
    margin: 0px;
    color: dimgrey;
}

.item_menu:nth-child(even) {
    border-right: 2px solid dimgrey;
    border-left: 2px solid dimgrey;
}

.item {
    display: block;
    color: dimgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: italic;
}

.item:hover {
    color: #E1CDAA;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
    text-align: center;
    margin: 3em 0;
}

.wrapper1 > div {
    margin: 2.5% 0;
    padding: 5em;
    width: 100%;
}

.wrapper1 h3 {
    color: #e1cdaa;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
}

.wrapper1 p {
    font-weight: 300;
    font-style: normal;
    color: darkgrey;
    font-size: 14px;
    margin: -1.5em 0 0 0;

}

.wrapper2 {
    display: grid;
    grid-template: 100%;
    text-align: center;
    margin: -8em 0;
}

.wrapper2 p {
    font-style: italic;
    color: darkgrey;
}

.wrapper3 {
    display: grid;
    grid-template-columns: 100%;
    margin: 12% 0 0 0;
}

.wrapper3 > div{
    padding: 10%;
    margin: 10% 0 2.5% 0;
    background-color: #bbbbbb;
}

.wrapper3 img{
    align: center;
    width: 100%;
    height: auto;
}

.visitar a:link {
    text-decoration: none;
    color: #232930;
}

.visitar a:visited {
    text-decoration: none;
    color: #232930;
}

.visitar {
    background-color: white;
    color: #232930;;
    font-style: italic;
    border: solid #232930 2px;
    width: 8em;
    height: 3em;
    align: center;
    text-align: center;
    padding: 1%;
}

.visitar:hover {
    background-color: #232930;

}

.visitar:hover a {
    background-color: #232930;
    color: white;
}

.redessociais{
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-column-gap: 1px;
    width: 8%;
    text-align: center;
    margin: 0 0 10% 0;

}

.faces{
    background-image: url(../images/facebook.png);
    background-color: #e1cdaa;
    width: 20px;
    height: 16px;
}

.twitter{
    background-image: url(../images/twitter.png);
    background-color: #e1cdaa;
    width: 20px;
    height: 16px;
}

.gplus{
    background-image: url(../images/googleplus.png);
    background-color: #e1cdaa;
    width: 20px;
    height: 16px;
}

.footer {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #252525;
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: 300;
    height: 5em;
}

